div.bar {
    display: inline-block;
    width:10px;
    height: 75px;   /* We'll override this later */
    margin-right: 2px;
    background-color: teal;
}

h1.title {
  color: black;
  background-color: azure;
  margin-left: 40px;
  font-style: bold;
}

h3.subtitle{
  color: navy;
  background-color: azure;
  margin-left: 40px;
  font-style: italic;
  font-size: 16px;
}

p.text{
  background-color: beige;
  margin-left: 20px;
  border: 2px solid navy;
  font-size: 14px;
}
